<div class="resume-section-content">
    
    <h1 class="mb-0">
        V
        <span class="text-success ">Song</span>
    </h1>
    
    <div class="subheading mb-5">
        Los Angeles, CA · <span class="text-warning">vctrsong@gmail.com</span>

    </div>

    <p class="lead">Learning Flask.</p>
    <p class="lead">Data Analyst with Accounting/Finance background. I enjoy turning complex data into actionable items. Turn manual processes into a single button.</p>
        
    <br>

    <div class="social-icons">
        <a class="social-icon" href="www.linkedin.com/in/victor-s-b59b5b232"><i class="fab fa-linkedin-in"></i></a>
        <a class="social-icon" href="https://github.com/vgsong"><i class="fab fa-github"></i></a>
        <!-- <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
        <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a> -->
    </div>

</div>