{% extends 'base.html' %}
{% block content %} 

    <!-- acting as body, moved one child dir down so i can split (use extend) at template level -->
    <div id="page-top">

        <!-- Navigation-->
        {% include 'navbar/navbar.html' %}

        <!-- Page Content-->
        <div class="container-fluid p-0 bg-dark ">

            {% for section in index_content_list %}

            <section class="resume-section" id={{section[:-5]}}>

                {% include 'index_section/' + section %}

            </section>

            <hr class="m-0" />

            {% endfor %}

        </div>

    </div>

{% endblock %} 
